.wrapper {
  width: 700px;
  background-color: var(--background);
  padding: 40px;
  box-shadow: 1px 1px 50px var(--background);
  border-radius: 20px;
}

.h2 {
  margin-bottom: 1.6rem;
  text-align: center;
}

.content {
  display: flex;
  flex-direction: column;
  gap: 1.6rem;
}

.button {
  width: 100%;
  cursor: pointer;
  transition: transform 0.2s ease-in-out;
}

.button:hover {
  background-color: var(--purple);
  transform: scale(1.02);
}