.wrapper {
  width: 700px;
  background-color: #fafafa;
  padding: 40px;
  box-shadow: 1px 1px 50px var(--background);
  border-radius: 20px
}

.wrapperColors {
  display: grid;
  grid-template-columns: auto auto auto;
}

.titlePrimary {
  color: #0B404B;
}

.titleSecondary {
  color: #0B8A7C;
}

.primary {
  background-color: #285D66;
  height: 100px;
  cursor: pointer;
}

.primaryLight {
  background-color: #387079;
  height: 100px;
  cursor: pointer;
}

.primaryDark {
  background-color: #0B404B;
  height: 100px;
  cursor: pointer;
}

.secondary {
  background-color: #40C4B8;
  height: 100px;
  cursor: pointer;
}

.secondaryLight {
  background-color: #6DE6DC;
  height: 100px;
  cursor: pointer;
}

.secondaryDark {
  background-color: #0B8A7C;
  height: 100px;
  cursor: pointer;
}