.wrapper {
  width: 700px;
  background-color: var(--background);
  padding: 40px;
  box-shadow: 1px 1px 50px var(--background);
  border-radius: 20px
}

.ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.li {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
}

.li:last-child {
  margin-bottom: 0;
}

.blue {
  color: #007bff;
}